[Desktop Entry]
Name=Cosmic Switch Less
Comment=An alternative app switcher for COSMIC Desktop limited to windows on the current workspace
Type=Application
Icon=com.github.riverfr0zen.cosmic-switch-less
Exec=cosmic-switch-less %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
